@charset "UTF-8";
/* CSS Document */


body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: "Raleway", "lato";
	line-height: 150%;
}

.navbar {
	position: fixed;
	z-index: 9999;
	width: 10%;
}

.navbar ul {
	list-style-type: none;
	top: 100%;
	margin: 0;
	padding: 0;
}

.navbar img {
	width: 75px;
}

.navbar li {
	margin: 40px;
	font-family: "Monaco";
	color: white;
}

.navbar li:hover {
	filter:blur(2px);
	transition-property: filter;
	transition-duration: .5s;
}

.bannertxt {
	margin: auto;
	text-align: center;
}

.bannertxt img {
	height: 100vh;
}

.bannertxt {
	background-image: url(Images/burj-al-arab-2624317_1920.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: aqua;
}


#abouttxt h3 {
	margin:0;
	padding-left: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	background-image: url(Images/blue-clouds-exotic-37403.jpg);
	background-attachment: fixed;
	background-position: center center;
	font-size: 70px;
	color: white;
	text-align: center;
}

#abouttxt p {
	margin: 0;
	padding-left: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	background-color: #1f1f1f;
	font-size: 30px;
	color: white;
}

#abouttxt img {
	width: 100%;
	margin: 0;
	padding: 0;
}

#abouttxt2 h3 {
	margin:0;
	padding-left: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	background-image: url(Images/adventure-alps-background-547114.jpg);
	background-attachment: fixed;
	background-position: center center;
	font-size: 70px;
	color: white;
	text-align: center;
}

#abouttxt2 p {
	margin: 0;
	padding-left: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	background-color: #1f1f1f;
	font-size: 30px;
	color: white;
}

#abouttxt2 img {
	width: 100%;
	margin: 0;
	padding: 0;
}

#awards {
	background-image: url(Images/macbook-606763_1920.jpg);
	background-attachment: fixed;
	text-align: center;
	padding: 25px;
	margin: 0;
}

#awards h2 {
	font-size: 70px;
	border-width: 10px;
	margin: 0;
	color: white;
}


#trifold {
	margin-top: 0;
	margin-bottom: 50px;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	width: 100%;
	background-color:#BCBCBC;

}

.fold {
	width: 24%;
	height: 350px;
	float: left;
	padding: 0;
	margin: 3%;
	text-align: center;
}

.fold img {
	width: 200px;
	height: 200px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
}





/*-----------------*/



/*------Tech Styling----------*/


.techbanner {
	margin: 0;
	text-align: center;
	background-image: url(Images/coding-computer-data-577585.jpg);;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: aqua;
}

.techbanner img {
	height: 100vh;
}

#nick {
	background-color: white;
	border: 0;
	margin: 0;
}

#nick p {
	margin-left: 10%;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 18px;
	color: #1f1f1f;
	
}

.squares {
	background-color: #1f1f1f;
	margin: 0;
	font-family: "Raleway", "lato";
	font-size: 30px;
}

#square1 {
	width:33%; 
	height: 300px; 
	margin:0px; 
	float: left;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
	font-size: 18px;
	background-color: #1f1f1f;
}

#square2 {
	background-image: url(Images/laptop-2411303.jpg);
	width:67%; 
	height: 300px; 
	margin:0px; 
	float: left;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
}

#square3 {
	background-image: url(Images/board-453758_1920.jpg);
	width:67%; 
	height:300px; 
	margin:0px; 
	float: left;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
}

#square4 {
	width:33%; 
	height:300px; 
	margin:0px; 
	float: left;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
	font-size: 18px;
	background-color: #1f1f1f;
}
