@charset "UTF-8";
/* CSS Document */

/*site formatting*/
h1, h2, h3, p {
	font-family: "Raleway", "lato";
	line-height: 150%;
}

body  {
	margin: 0px;
	padding: 0;
}

h1, h2, h3  {
	text-align:center;
}

h1 {
	font-size: 60px;
	margin: 30px;
}

h2 {
	font-size: 50px;
	border-style: solid;
	border-width: 4px;
	padding: 7px;
	display: inline;
}

h3 {
	font-size: 40px;
}

.h2-parent {
	text-align: center;
	padding: 50px;
}

/*navbar formatting*/

.navbar ul  {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: darkred;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 1px 10px 1px black;
}

.navbar li  {
	float: left;
	
}

.navbar img  {
	width: 60px;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

.nav li a  {
	display: block;
	color: white;
	font-family: "Raleway";
	margin: 0px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	font-weight: 100;
}

.navbar a:hover  {
	background-color: indianred;
}

.navbar img:hover {
	background-color: indianred;
}


.navbar a:active  {
	background-color: white;
	color: black;
}



/*------------------------------homepage formatting----------------------------*/



.banner img  {
	width: 100%;
	margin: 0;
	padding: 0;
}

.banner h1 {
	font-size: 70px;
	background-color: white;
	width: 100%;
	margin: 0;
}

.home1 .home2 .home3  {
	padding-top: 15px;
	padding-bottom: 15px;
	
}

.homebody  {
	margin: 50px;
	padding: 30px;
	background-color: white;
}

.homebody h3 {
	font-size: 40px;
	margin: 0;
	padding: 20px;
}

.homebody p {
	font-size: 25px;
	margin: 0;
	padding: 0;
}



/*----------------------------cte page formatting------------------------------*/




.ctebody  {
	font-family: "Raleway", "lato";
}

.ctebar  {
	padding: 0 30px 30px 60px;
	background-color: lightgrey;
	overflow: auto;
	text-align: justify;
	font-size: 25px;
}

.ctebar img  {
    float: right;
	width: 200px;
	height: 200px;
	padding-left: 100px;
	padding-right: 70px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.ctebar2  {
	padding: 0 60px 30px 30px;
	background-color: white;
	overflow: auto;
	text-align: justify;
	font-size: 25px;
}

.ctebar2 img {
    float: left;
	width: 150px;
	height: 200px;
	padding-right: 100px;
	padding-left: 70px;
	padding-top: 10px;
	padding-bottom: 30px;
}

.ctebar h3  {
	margin: 0;
	padding: 10px;
	text-align: left;
	margin-left: 150px;
}

.ctebar2 h3  {
	margin: 0;
	padding: 10px;
	text-align: right;
	margin-right: 170px;
}

.cteteach {
	text-align: center;
}

.cteteach img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

#teachpic1, #teachpic2 {
	margin: 80px;
}

#teachtxt1, #teachtxt2 {
	display: none;
	opacity: 0;
}

#teachpic1:hover ~ #teachtxt1 {
	display: block;
	opacity: 1;
}

#teachpic2:hover ~ #teachtxt2 {
	display: block;
	opacity: 1;
}

.cteteach #teachpic1:hover {
	opacity: .5;
	transition-property: opacity;
	transition-duration: 1s;
}

.cteteach #teachpic2:hover {
	opacity: .5;
	transition-property: opacity;
	transition-duration: 1s;
}

#teachtxt1, #teachtxt2 {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#cteclasses {
	padding: 20px 70px 30px 70px;
}

#cteclass ul {
	color: darkred;
}

#cteclasses li {
	font-size: 45px;
	color: white;
	background-color: darkred;
	font-family: "Raleway", "lato";
	line-height: 150%;
	margin: 30px 20px 30px 200px;
	padding-left: 20px;
}

.gallery  {
	text-align: center;
	background-color: #1f1f1f;
	margin: 0;
	padding: 0 0 30px 0;
	color: white
}

.gallery img  {
	display: inline;
	width: 30%;
	height: 250px;
	margin: 10px;
	
}

.gallery img:hover  {
	opacity: .5; 
	transition-property: opacity;
	transition-duration: 500ms;
}




/*-------------------------------tsa page formatting-----------------------------*/



#slogan {
	margin: 0;
}

#slogan img {
	width: 100%;
	margin: 0;
}

#advisors {
	background-image: url(Images/quote-791953_1920.jpg);
	background-attachment: fixed;
	text-align: center;
	color: white;
	padding: 25px;
	margin: 0;
}

#advisors h2 {
	font-size: 70px;
	border-width: 10px;
	margin: 0;
}

.tsabar2  {
	font-family: "Raleway", "lato";
	padding: 30px;
	padding-right: 60px;
	overflow: auto;
	text-align: justify;
	color: #1f1f1f;
	background-color: white;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1px;
	font-size: 25px;
}

.tsabar2 img {
    float: left;
	width: 200px;
	height: 200px;
	margin-right: 100px;
	margin-left: 70px;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 50%;
}


.tsabar2 h3  {
	margin: 0;
	padding: 0;
	text-align: left;
	margin-right: 170px;
}

#awards {
	background-image: url(Images/stage-curtain-660078_1920.jpg);
	background-attachment: fixed;
	text-align: center;
	color: white;
	padding: 25px;
	margin: 0;
}

#awards h2 {
	font-size: 70px;
	border-width: 10px;
	margin: 0;
}


#trifold {
	margin-top: 0;
	margin-bottom: 50px;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	width: 100%;

}

.fold {
	width: 24%;
	height: 300px;
	float: left;
	padding: 0 0 50px 0;
	margin: 3%;
	text-align: center;
}

.fold img {
	width: 200px;
	height: 200px;
	margin: 0;
	padding: 0;
}

#bar {
	padding: 30px;
	padding-left: 60px;
	overflow: auto;
	text-align: justify;
	background-color: lightgrey;
	
}

#bar img {
    float: right;
	width: 225px;
	padding-left: 70px;
	padding-right: 30px;	
}
