@charset "UTF-8";
/* CSS Document */
h1, h2, h3, p {
	font-family: "Raleway", "lato";
}

body {
	margin: 0;
	padding: 0;
}


.navbar {
	position: fixed;
	z-index: 9999;
	width: 10%;
}

.navbar ul {
	list-style-type: none;
	top: 100%;
	margin: 0;
	padding: 0;
}

.navbar img {
	width: 75px;
}

.navbar li {
	margin: 40px;
	font-family: "Monaco","Consolas";
	font-size: 25px;
	color: white;
	text-decoration: none;
}

.navbar li a {
	text-decoration: none;
	color: white;
}

.navbar li:hover {
	filter:blur(2px);
	transition-property: filter;
	transition-duration: .5s;
}



#particles-js {
	width: 100vw;
	height: 100vh;
	background-color: black;
	background-image:url(Images/adult-blur-bokeh-712786.jpg);
	background-size: cover;
	background-attachment:local;
	background-position: center center;
	background-repeat: no-repeat;
	overlay: hidden;	
}

